table{
    width: 100%;
}

table tr th{
    padding:10px;
    margin: 2px;
    background-color:bisque;
    border: 3px solid black;
    width:100px;
}

@media all and (max-width: 400px){
    tr{
        display: flex;
        flex-wrap: wrap;
    }
    
}
@media all and (max-width: 250px){
    
    tr{
        display: flex;
        flex-direction: column;
    }
}
